@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Faustina:ital,wght@0,300;0,400;0,500;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');



h2 { 
	font-family: 'Cormorant Garamond'; 
    margin: 0;
}

h1 { 
	font-family: 'Faustina'; 
}

p { 
	font-family: 'Cormorant Garamond', 'Faustina', 'PT Serif'; 
}

div#content {
    max-width: 1600px;
    margin: 0 auto;
    background-color: #ebeeff;
    
}

header {
    background-color: #1c30a3;
    display: grid;
    grid-template-columns: 150px auto;
    position: relative;
    z-index: 1;

}


nav {
    display: flex;
    justify-content: space-around;

}

nav a {
    background-color: #1c30a3;
    color: #ebeeff;
    text-decoration: none;
    text-align: center;
    padding: 35px;

}

main {
    background-color: #ebeeff;
    text-align: center;

}

body {
    background-color: #ebeeff;
    font-family: 'PT Serif'; 
    margin: 0;
    padding: 0;
}

nav a:hover {
    background-color: #ebeeff;
    color: #1c30a3;

}

.book, .join {
    background-color: #ebeeff;
    text-decoration: none;
    color: #1c30a3;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
    

}

.msg {
    background-color: #1c30a3;
    font-family: 'Cormorant Garamond'; 
    font-size: .8em;
    padding: 35px;
    grid-column: 6/10;
    grid-row: 6/7;
}

footer {
    background-color: #1c30a3;
    color: #ebeeff;
    padding: 25px 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

footer .social img {
    padding-top: 15px;
}

.home-title {
    color:  #ebeeff;
   	font-family: 'Faustina'; 
	font-size: 2em;
    margin-top: 10px;
}

h4 {
    color: #ebeeff;

}

h1 {
    color: #ebeeff;

}

.book:hover, .join:hover {
    background-color: #1c30a3;
    color: #ebeeff;
    box-shadow: 3px 3px 3px 3px #ebeeff
}

.msg h2 {
    color: #ebeeff;
}

.msg p {
    color: #ebeeff;
    padding-bottom: 15px;
}

footer a {
    margin-top: 200px;
    color: #ebeeff;
    text-decoration: none;

}

footer a:hover {
    background-color: #ebeeff;
    color: #1c30a3;
}

.icon {
    width: 50px;
    padding-top: 10px;
}

footer p {
    font-size: 1.2em;
    text-decoration: none;
}

footer p a:hover {
    text-decoration: underline;
}

.logo {
    width: 80px;
}


#logo_link {
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}




#bodytop {
    display: grid;
    grid-template-columns: 1fr 7fr 1fr;
    margin-top: 0px; 

}

#bodytop img {
    max-width: 100%;
    min-width: 100%;

    margin-top: 30px;
    align-items: center;
}


#headpicture {
    grid-column: 1/10;
    grid-row: 1/2;

 
}


.button-box2 {
    text-align: center;
}


div#bodytop section#headpicture {
    text-align: center;
    
}

.david-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    object-fit: cover;
}





.home-title2 {
    color:  #ebeeff;
   	font-family: 'Faustina'; 
	font-size: 2em;
    margin-top: 10px;
}


.david1-card {

    grid-column: 2/2;
    grid-row: 1/2;
    width: 25%;
}

.david2-card {
    grid-column: 4/10;
    grid-row: 1/2;
    text-align: left;
}



#david1cardimg {
    display: inline-block;
    vertical-align: middle;
    margin: 0 auto;
    max-width: 100%;
}




div#background2 {
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #1c30a3;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr
    


}

div#background3 {
    padding: 20px;
    background-color: #1c30a3;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr

}

.label {
    font-size: large;
    

}

label {
display: inline-block;
width: 20%;
text-align: right;
color: white;
}

.ratecalc {
    margin: 20px 0;
    grid-column: 2/5;
    grid-row: 2/3;
}

.ratename {
    margin: 20px 0;
    grid-column: 1/6;
    grid-row: 1/2;
    text-align: center;
}

.request {
    margin: 20px 0;
    grid-column: 1/8;
    grid-row: 1/2;
    text-align: center;
}

.left {
    margin: 20px 0;
    grid-column: 2/4;
    grid-row: 2/3;
    
}

.right {
    margin: 20px 0;
    grid-column: 5/7;
    grid-row: 2/3;
    
}

.requesttext {
    margin: 20px 0;
    grid-column: 1/8;
    grid-row: 4/5;

}

input {
    width: 75%;
}

select {
    width: 75%;
}

.ratecalc input {
    width: 40%;
}

.ratecalc select {
    width: 40%;
}

textarea {
    width: 80%;
}

.requesttext label {
    text-align: center;
}

#feedback {
    background-color: antiquewhite;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding: .5em;
    /* make this element invisible until we are ready for it */
    display: none;      
}
.moveDown {
    margin-top: 3em;
}

.button1 {
    max-width: 100px;
    text-align: center;
}

#buttons {
    align-items: center;
    display: flex;
    justify-content: center;

}
#davidlogo {
    border: 5px solid black;
}


@media screen and (max-width: 900px) {
    #hero, .home-grid {
        display: block;
        height: auto;
    }
    nav, footer {
        flex-direction: column;
    }
    nav a {
        display: block;
        padding: 15px;
    }
    #hero {
        margin-top: 0;
    }
    #hero-msg {
        margin-top: 0;
    }
    #hero-msg h4 {
        display: none;
    }
    .home-title {
        font-size: 25px;
        color: #6f7364;
    }
    .rivers-card, .camping-card, .rapids-card { 
        margin: 50px auto;
        width: 60%;
    }
    #background {
        display: none;
    }
    .mountains, .msg {
        width: 80%;
        display: block;
        margin: 0 auto;
    }
    footer {
        margin-top: 25px;
    }
}